[Unit]
Description=Inkypix slideshow
After=multi-user.target

[Service]
ExecStart=/usr/bin/bash /home/gary/Projects/inkypix/inkyweb.sh
Type=simple

[Install]
WantedBy=multi-user.target
